<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>r3_zhanmu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,70},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>r3_zhanmu_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,53},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>r3_zhanmu_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,53},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>r3_zhanmu_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,110},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>r3_zhanmu_Ash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,172},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>r3_zhanmu_Ash0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,208},{23,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,9}}</string>
                <key>sourceSize</key>
                <string>{23,9}</string>
            </dict>
            <key>r3_zhanmu_Ash0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,180},{24,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,9}}</string>
                <key>sourceSize</key>
                <string>{24,9}</string>
            </dict>
            <key>r3_zhanmu_Ash0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,191},{26,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,11}}</string>
                <key>sourceSize</key>
                <string>{26,11}</string>
            </dict>
            <key>r3_zhanmu_Ash0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,68},{25,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,9}}</string>
                <key>sourceSize</key>
                <string>{25,9}</string>
            </dict>
            <key>r3_zhanmu_Ash0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,82},{22,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,8}}</string>
                <key>sourceSize</key>
                <string>{22,8}</string>
            </dict>
            <key>r3_zhanmu_Ash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,172},{71,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,45}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>r3_zhanmu_Ash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,99},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>r3_zhanmu_Ash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,99},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>r3_zhanmu_Ash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,182},{70,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
            <key>r3_zhanmu_Ash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,148},{61,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>r3_zhanmu_Halfsord.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,148},{53,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,82}}</string>
                <key>sourceSize</key>
                <string>{53,82}</string>
            </dict>
            <key>r3_zhanmu_Hb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,70},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>r3_zhanmu_Hyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,2},{142,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,66}}</string>
                <key>sourceSize</key>
                <string>{142,66}</string>
            </dict>
            <key>r3_zhanmu_Jm_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,152},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>r3_zhanmu_Jm_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,152},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>r3_zhanmu_Jm_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{195,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,56}}</string>
                <key>sourceSize</key>
                <string>{195,56}</string>
            </dict>
            <key>r3_zhanmu_Jm_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>r3_zhanmu_Jm_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,168},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>r3_zhanmu_Jm_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,168},{61,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,38}}</string>
                <key>sourceSize</key>
                <string>{61,38}</string>
            </dict>
            <key>r3_zhanmu_Jm_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,2},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>r3_zhanmu_Jm_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,162},{47,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>r3_zhanmu_Jm_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,162},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>r3_zhanmu_Jm_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,99},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>r3_zhanmu_Jm_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,152},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>r3_zhanmu_Jm_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,187},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>r3_zhanmu_Jm_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,53},{97,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,75}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>r3_zhanmu_Rosr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,180},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>r3_zhanmu_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,185},{117,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,31}}</string>
                <key>sourceSize</key>
                <string>{117,31}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0000_SL_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,177},{90,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,37}}</string>
                <key>sourceSize</key>
                <string>{90,37}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0002_SL_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,2},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,64}}</string>
                <key>sourceSize</key>
                <string>{123,64}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0004_SL_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{143,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,78}}</string>
                <key>sourceSize</key>
                <string>{143,78}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0008_SL_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{167,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,92}}</string>
                <key>sourceSize</key>
                <string>{167,92}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0009_SL_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,44},{173,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,92}}</string>
                <key>sourceSize</key>
                <string>{173,92}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0010_SL_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{175,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,90}}</string>
                <key>sourceSize</key>
                <string>{175,90}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0011_SL_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,94},{173,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,89}}</string>
                <key>sourceSize</key>
                <string>{173,89}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0014_ZL_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,148},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0015_ZL_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,82},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0016_ZL_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,96},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0017_ZL_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,2},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,91}}</string>
                <key>sourceSize</key>
                <string>{103,91}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0018_ZL_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,2},{103,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,95}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0019_ZL_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,96},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0020_CC_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{225,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,40}}</string>
                <key>sourceSize</key>
                <string>{225,40}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0022_CC_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{291,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,49}}</string>
                <key>sourceSize</key>
                <string>{291,49}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0027_CC_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{321,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,52}}</string>
                <key>sourceSize</key>
                <string>{321,52}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0029_CC_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,52}}</string>
                <key>sourceSize</key>
                <string>{322,52}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0031_BL_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,99},{92,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0032_BL_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,44},{185,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,173}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0033_BL_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,95},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0034_BL_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,68},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0035_BL_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,82},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>r3_zhanmu_ZMZ_0036_BL_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{97,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,95}}</string>
                <key>sourceSize</key>
                <string>{97,95}</string>
            </dict>
            <key>r3_zhanmu_hy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{242,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,40}}</string>
                <key>sourceSize</key>
                <string>{242,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>r3_zhanmu_res.png</string>
            <key>size</key>
            <string>{2005,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0900c3528cb97d3d2b8475aba0a9fdd5:7cde88b6fdd08f22e7d61aee3f5fa350:e2dd6e6ec1da5b679c71367349796b54$</string>
            <key>textureFileName</key>
            <string>r3_zhanmu_res.png</string>
        </dict>
    </dict>
</plist>
